<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <mapping class="Caption" />
        <mapping class="Member" />
        <mapping class="RelatedNews" />
        <mapping class="Channel" />
        <mapping class="Programming" />
        <mapping class="Recipe" />
        <mapping class="Encoding" />
        <mapping class="ProgramInformation" />
        <mapping class="News" />
        <mapping class="ShootingPlace" />
        <mapping class="Segment" />
        <mapping class="Question" />
        <mapping class="CustomChannel" />
        <mapping class="Content" />
        <mapping class="Program" />
        <mapping class="Object" />
        <mapping class="Script" />
        <mapping class="RelatedShoopingPlace" />
        <mapping class="ProgramCode" />
        <mapping class="Product" />
        <mapping class="SurveyParticipation" />
        <mapping class="Seamless" />
        <mapping class="RelatedProduct" />
        <mapping class="Event" />
        <mapping class="CorrectAnswer" />
        <mapping class="RelatedSurvey" />
        <mapping class="SegmentCode" />
        <mapping class="DailyRunning" />
        <mapping class="RelatedPerson" />
        <mapping class="Article" />
        <mapping class="ObjectCategory" />
        <mapping class="AppEncoding" />
        <mapping class="RelatedContent" />
        <mapping class="LiveCaption" />
        <mapping class="AnswerExample" />
        <mapping class="Quiz" />
        <mapping class="VideoFile" />
        <mapping class="RelatedRecipe" />
        <mapping class="ContentRanking" />
        <mapping class="ChannelItem" />
        <mapping class="Video" />
        <mapping class="Person" />
        <mapping class="QuizParticipation" />
    </session-factory>
</hibernate-configuration>
